.wraper {
  max-width: 1440px;
  margin: 0;
  justify-content: start;
}

.actorsList {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  list-style: none;
}

.actorsCard {
  width: 200px;
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid black;
  box-shadow: rgba(248, 4, 4, 0.03) 0px 0.8px 2px,
    rgba(209, 10, 10, 0.047) 0px 2.7px 6.7px, rgba(0, 0, 0, 0.08) 0px 12px 30px;
}

.cardText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50px;
  font-size: 14px;
  font-weight: 600;
  color: black;
}

.text {
  margin: 0;
}
