.wraper {
  max-width: 1440px;
  margin: 0;
  justify-content: start;
}

.pageTitle {
  margin-top: 30px;
  margin-bottom: 20px;
  margin-left: 40px;
}

.moviesList {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  list-style: none;
}
